.KirjKysely {
    position: absolute;
    left: 150px;
}
.RekKysely {
    position: absolute;
    left: 260px;
}
.TietKysely {
    position: absolute;
    left: 250px;
}
.IlmKysely {
    position: absolute;
    left: 130px;
}
.MuokKysely {
    position: absolute;
    left: 150px;
}
.test {
    position: absolute;
    left: 1000px;
}
.teksti {
    position: relative;
    top: 15px;
}
.form {
    line-height: 25px;
}
body {
    background-color: darkcyan;
}